#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=gb --xlayouts='gb'
# System language
lang en_GB.UTF-8

# Network information
network  --bootproto=static --device=eno16777736 --gateway=192.168.38.2 --ip=192.168.38.15 --nameserver=192.168.38.2 --netmask=255.255.255.0 --onboot=off --ipv6=auto --activate
network  --hostname=puppetagent.localdomain

# Root password
rootpw --iscrypted $6$NQ56mfTQJ95p9yrP$kT0P2nBIVRqjApiVOsd8/7ZmJVn4cYus93PUzef0WGewbm3QCPn0gA4Ebn4wAiyLaxg0aVhQcXlLvw9LrsDkG0
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/London --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^infrastructure-server-environment
@base
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
